SUPABASE_URL=https://TU-PROYECTO.supabase.co
SUPABASE_SECRET_KEY=TU_SECRET_KEY

APP_USERNAME=Darwin
APP_PASSWORD=Warnes1102
APP_SESSION_SECRET=DarwinCompareSession2026SuperPrivadaWarnes1102

BROWSERLESS_TOKEN=2UBVqbA6e9i53X5e05d7228ad2ef64719cd0a7167042c0c4d
BROWSERLESS_REGION=production-sfo